a {
    font-family: Almendra, serif;
    font-size: 150%;
    text-decoration: none;
    text-align: center;
    display: block;
    color: white;
}

hr {
    font-size: 1rem;
    width: 20%;
}

.sign {
    font-size: 75%;
    font-family: Almendra, serif;
    display: flex;
    align-items: center; 
    justify-content: center;
    
}


.sign > a {
        font-size: 100%;
        font-family: Almendra, serif;
        display: inline-block;
       
}




button {
    display: inline-block;
    width: 100%;
    border-radius: 10px;
    background-color: whitesmoke;
    font-size: large;

}

#button_resume {
    background-color: greenyellow;
    border-radius: 10px;
}

#button_clear {
    background-color:firebrick;
    border-radius: 10px;
}
table {
    margin: auto;
    width: 80%;
    
}

tr {
  
   margin: auto;
   
    
}


/*#button_block {
    margin: auto;
    width: 75%;
}
*/

#center-block {
    margin: auto;
    padding: 1%;
    width: 75%;
    display: block;
    outline: none;
    border-radius: 10px;
    text-align: right;
}

body {
    background-image: linear-gradient(to right, #1d2023, #1c2224, #1d2424, #202622, #252721);
}

